<div class="alert alert-primary">
  Welcome back {{title}} Environment.
</div>
<div class="container">
  <app-cockpit (srvData)="onAddServer($event)"
               (bpData)="onAddBlueprint($event)"></app-cockpit>
  
  <div class="row" *ngFor="let serverElement of serverElements">
    <button class="btn btn-warning" (click)="onSetValue()">Set Value</button>
    <button class="btn btn-danger" (click)="onDeleteValue()">Delete Element</button>
    <div class="col-12">
     <app-server-element [myData]="serverElement" [name]="serverElement.name">
      <p>
        <strong *ngIf="serverElement.type==='server'" style="color: red;"> {{serverElement.content}} </strong>
        <em *ngIf="serverElement.type==='blueprint'"> {{serverElement.content}} </em>
      </p>
     </app-server-element>
    </div>
  </div>
</div>